@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-inter text-[18px] text-dark-blue bg-white;
  }

  .image-container img {
    border-radius: 5px;
    box-shadow: 0 4rem 5rem -3rem #23237080;
  }
  .fade-in {
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }

  .fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }

  @media (min-width: 768px) {
    .testimonials_content {
      background-position: left 60px top -12px;
    }
  }
}
